openapi: 3.0.0
info:
  description: Customer API provide base methods for create company, projects, users, add users to projects, end etc.
  title: Customer annotations integrations API
  termsOfService: http://swagger.io/terms/
  contact:
    name: Dmytro Kabachenko
    email: dmytro.kabachenko@conxai.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
- url: //customer.conxai.ai
tags:
- name: integrations
paths:
  /integrations/box/exchange:
    post:
      security:
      - BearerAuth: []
      description: Exchange a Box.com OAuth2 authorization code for an access token
      tags:
      - integrations
      summary: Exchange Box authorization code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conxai_com_docs-api_structures_api.ExchangeBoxTokenRequest'
        description: Authorization code
        required: true
      responses:
        '200':
          description: Token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxTokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
        '502':
          description: Box API error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
  /integrations/box/refresh:
    post:
      security:
      - BearerAuth: []
      description: Use the stored refresh token to obtain a new Box.com access token
      tags:
      - integrations
      summary: Refresh Box access token
      responses:
        '200':
          description: Refreshed token response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxTokenResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
        '502':
          description: Box API error or no stored token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
  /integrations/box/revoke:
    delete:
      security:
      - BearerAuth: []
      description: Revokes the stored Box.com access token with Box and removes it from cache. Idempotent – returns 200 even when no token exists.
      tags:
      - integrations
      summary: Revoke Box integration
      responses:
        '200':
          description: Token revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxRevokeResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
  /integrations/box/token:
    get:
      security:
      - BearerAuth: []
      description: 'Returns isConnected: true with the access token when a cached token exists, isConnected: false otherwise'
      tags:
      - integrations
      summary: Get Box connection status
      responses:
        '200':
          description: Connection status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxTokenStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.BoxErrorResponse'
  /integrations/zendesk/jwt:
    get:
      security:
      - BearerAuth: []
      description: Creates a signed JWT for Zendesk Messaging on behalf of the authenticated user
      tags:
      - integrations
      summary: Generate Zendesk JWT
      responses:
        '200':
          description: Signed JWT
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.ZendeskJWTResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.ZendeskErrorResponse'
        '500':
          description: Zendesk signing config missing or signing failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.ZendeskErrorResponse'
components:
  schemas:
    conxai_com_docs-api_structures_api.BoxRevokeResponse:
      type: object
      properties:
        message:
          type: string
    conxai_com_docs-api_structures_api.BoxErrorResponse:
      type: object
      properties:
        error:
          type: string
    conxai_com_docs-api_structures_api.ZendeskErrorResponse:
      type: object
      properties:
        error:
          type: string
    conxai_com_docs-api_structures_api.BoxTokenStatusResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_at:
          description: Unix timestamp in milliseconds
          type: integer
        is_connected:
          type: boolean
    conxai_com_docs-api_structures_api.ExchangeBoxTokenRequest:
      type: object
      properties:
        code:
          type: string
    conxai_com_docs-api_structures_api.BoxTokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_at:
          description: Unix timestamp in milliseconds
          type: integer
        is_connected:
          type: boolean
    conxai_com_docs-api_structures_api.ZendeskJWTResponse:
      type: object
      properties:
        token:
          type: string
  securitySchemes:
    ApiKeyAuth:
      description: Provide the given API key
      type: apiKey
      name: X-Api-Key
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
