openapi: 3.2.0
info:
  description: This is the Conxai Docnostic API of conxai.
  title: Conxai Docnostic Annotations API
  termsOfService: http://swagger.io/terms/
  contact:
    name: API Support
    url: http://www.swagger.io/support
    email: support@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
- url: //docs.ui.conxai.ai
tags:
- name: Annotations
paths:
  /projects/{projectId}/use-cases/{useCaseId}/document-types/{documentTypeId}/annotations:
    delete:
      security:
      - BearerAuth: []
      tags:
      - Annotations
      summary: Delete annotations
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Document Type Id
        name: documentTypeId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: "Server\tfelt bad"
          content:
            application/json:
              schema:
                type: string
      operationId: deleteProjectsByProjectIdUseCasesByUseCaseIdDocumentTypesByDocumentTypeIdAnnotations
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      description: Provide the given API key
      type: apiKey
      name: X-Api-Key
      in: header
    BearerAuth:
      description: Provide the JWT token in the Authorization header prefixed with "Bearer"
      type: apiKey
      name: Authorization
      in: header
