openapi: 3.2.0
info:
  description: This is the Conxai Docnostic API of conxai.
  title: Conxai Docnostic Document Types API
  termsOfService: http://swagger.io/terms/
  contact:
    name: API Support
    url: http://www.swagger.io/support
    email: support@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
- url: //docs.ui.conxai.ai
tags:
- name: Document Types
paths:
  /projects/{projectId}/use-cases/{useCaseId}/document-types:
    get:
      security:
      - BearerAuth: []
      tags:
      - Document Types
      summary: Get document types list for use case
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/api_document_types_handlers.GetDocumentTypeOne'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdDocumentTypes
      x-operation-id-source: derived
    put:
      security:
      - BearerAuth: []
      tags:
      - Document Types
      summary: Create a new document types and update schema for existing
      parameters:
      - description: Unique id of the project.
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Unique id of the useCase.
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/conxai_com_docs-api_structures_api.DocumentTypeRequest'
        description: You have to send raw json in schema field, example of proper schema can be found in https://gitlab.com/conxai/applications/common/conxai_json_schemas/-/blob/main/conxai_schema_docs/document_type_schema.json?ref_type=heads
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.DocumentTypeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: putProjectsByProjectIdUseCasesByUseCaseIdDocumentTypes
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/document-types/{documentTypeId}:
    delete:
      security:
      - BearerAuth: []
      description: Delete a documents type by ID
      tags:
      - Document Types
      summary: Delete a document types by ID
      parameters:
      - description: Unique id of the project.
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: 'Unique id of the document type '
        name: documentTypeId
        in: path
        required: true
        schema:
          type: string
      - description: Unique id of the use case.
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fiber.Map'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: deleteProjectsByProjectIdUseCasesByUseCaseIdDocumentTypesByDocumentTypeId
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/document-types/{documentTypeId}/version:
    get:
      security:
      - BearerAuth: []
      description: Get document type by uuid with latest version from schema registry
      tags:
      - Document Types
      summary: Get document type by uuid (latest version)
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Document Type Id
        name: documentTypeId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_document_types_handlers.DocumentSchemaStructure'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdDocumentTypesByDocumentTypeIdVersion
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/document-types/{documentTypeId}/version/{version}:
    get:
      security:
      - BearerAuth: []
      tags:
      - Document Types
      summary: Get document type by uuid
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Document Type Id
        name: documentTypeId
        in: path
        required: true
        schema:
          type: string
      - description: Version
        name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_document_types_handlers.DocumentSchemaStructure'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdDocumentTypesByDocumentTypeIdVersionByVersion
      x-operation-id-source: derived
components:
  schemas:
    api_document_types_handlers.DocumentSchemaStructure:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: integer
    fiber.Map:
      type: object
      additionalProperties: true
    api_document_types_handlers.GetDocumentTypeOne:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        samples_number:
          type: integer
        version:
          type: string
    conxai_com_docs-api_structures_api.DocumentTypeRequest:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        status:
          type: string
    conxai_com_docs-api_structures_api.DocumentTypeResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
  securitySchemes:
    ApiKeyAuth:
      description: Provide the given API key
      type: apiKey
      name: X-Api-Key
      in: header
    BearerAuth:
      description: Provide the JWT token in the Authorization header prefixed with "Bearer"
      type: apiKey
      name: Authorization
      in: header
