openapi: 3.2.0
info:
  description: This is the Conxai Docnostic API of conxai.
  title: Conxai Docnostic Summary Table API
  termsOfService: http://swagger.io/terms/
  contact:
    name: API Support
    url: http://www.swagger.io/support
    email: support@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
- url: //docs.ui.conxai.ai
tags:
- name: summary-table
paths:
  /projects/{projectId}/use-cases/{useCaseId}/summary-table:
    put:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Store schema for summary table
      parameters:
      - description: Unique id of the project.
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Unique id of the useCase.
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/api_summary_table_handlers.SummaryTableSchemaRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_summary_table_handlers.SummaryTableSchemaVersionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: putProjectsByProjectIdUseCasesByUseCaseIdSummaryTable
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-data:
    get:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Get summary table data
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema: {}
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSummaryTableData
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-data/create:
    post:
      security:
      - BearerAuth: []
      description: Create summary table data and wait for file to be created
      tags:
      - summary-table
      summary: Create summary table data
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Summary table data created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fiber.Map'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableDataCreate
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-data/export:
    post:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Export summary table data based on filters
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/conxai_com_docs-api_structures_api.SummaryTableFilterRequest'
      responses:
        '200':
          description: Export completed, returns download link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataExportResponse'
        '202':
          description: Export accepted, processing in background
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableDataExport
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-data/filter:
    post:
      security:
      - BearerAuth: []
      description: Return list of summary table data after filtering and sorting
      tags:
      - summary-table
      summary: Get summary table data based on filters
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/conxai_com_docs-api_structures_api.SummaryTableFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableDataFilter
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-data/grouped:
    post:
      security:
      - BearerAuth: []
      description: Return data for building filters based on grouped values
      tags:
      - summary-table
      summary: Post summary table grouped data
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        description: Grouped fields list
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataGroupedResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableDataGrouped
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-file:
    get:
      security:
      - BearerAuth: []
      description: Returns raw content of the pre-computed summary_table.json from S3
      tags:
      - summary-table
      summary: Get summary table raw file
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404':
          description: Not found
          content:
            application/json:
              schema: {}
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSummaryTableFile
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-workflow:
    get:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Get summary table with workflow
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableWorkflowResponseDoc'
        '404':
          description: Not found
          content:
            application/json:
              schema: {}
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSummaryTableWorkflow
      x-operation-id-source: derived
    put:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Store schema for workflow summary table
      parameters:
      - description: Unique id of the project.
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Unique id of the useCase.
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/api_summary_table_handlers.SummaryTableSchemaRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_summary_table_handlers.SummaryTableSchemaVersionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: putProjectsByProjectIdUseCasesByUseCaseIdSummaryTableWorkflow
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-workflow/export:
    post:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Export workflow summary table data based on filters
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/conxai_com_docs-api_structures_api.SummaryTableFilterRequest'
      responses:
        '200':
          description: Export completed, returns download link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataExportResponse'
        '202':
          description: Export accepted, processing in background
          content:
            application/json:
              schema:
                type: string
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableWorkflowExport
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-workflow/filter:
    post:
      security:
      - BearerAuth: []
      description: Return workflow list of summary table data after filtering and sorting
      tags:
      - summary-table
      summary: Get workflow summary table data based on filters
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/conxai_com_docs-api_structures_api.SummaryTableFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: string
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: postProjectsByProjectIdUseCasesByUseCaseIdSummaryTableWorkflowFilter
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table-workflow/version/{version}:
    get:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Get summary table workflow schema data
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Version
        name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_summary_table_handlers.SummaryTableSchemaResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSummaryTableWorkflowVersionByVersion
      x-operation-id-source: derived
  /projects/{projectId}/use-cases/{useCaseId}/summary-table/version/{version}:
    get:
      security:
      - BearerAuth: []
      tags:
      - summary-table
      summary: Get summary table schema data
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Version
        name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_summary_table_handlers.SummaryTableSchemaResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSummaryTableVersionByVersion
      x-operation-id-source: derived
components:
  schemas:
    api_summary_table_handlers.SummaryTableSchemaRequest:
      type: object
    conxai_com_docs-api_structures_api.SummaryTableWorkflowResponseDoc:
      type: object
      properties:
        summary_table:
          type: object
          additionalProperties: true
        summary_table_workflow:
          type: object
          additionalProperties: true
    conxai_com_docs-api_structures_api.SummaryTableRow:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableCell'
    api_summary_table_handlers.SummaryTableSchemaResponse:
      type: object
      properties:
        version:
          type: string
    conxai_com_docs-api_structures_api.SummaryTableDataExportResponse:
      type: object
      properties:
        file_link:
          type: string
    conxai_com_docs-api_structures_api.SummaryTableDataGroupedResponse:
      type: object
      additionalProperties:
        type: array
        items: {}
    conxai_com_docs-api_structures_api.SummaryTableCellMessageType:
      type: string
      enum:
      - success
      - warning
      - error
      x-enum-varnames:
      - SummaryTableCellMessageTypeSuccess
      - SummaryTableCellMessageTypeWarning
      - SummaryTableCellMessageTypeError
    fiber.Map:
      type: object
      additionalProperties: true
    conxai_com_docs-api_structures_api.SummaryTableDataResponse:
      type: object
      properties:
        created_at:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableRow'
        structure:
          $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableDataStructure'
    api_summary_table_handlers.SummaryTableSchemaVersionResponse:
      type: object
      properties:
        version:
          type: string
    conxai_com_docs-api_structures_api.SummaryTableDataStructure:
      type: object
      properties:
        use_case:
          type: string
    conxai_com_docs-api_structures_api.SummaryTableFilterRequest:
      type: object
    conxai_com_docs-api_structures_api.SummaryTableCellMessage:
      type: object
      properties:
        message:
          type: string
        type:
          $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableCellMessageType'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        status:
          type: string
    conxai_com_docs-api_structures_api.SummaryTableCell:
      type: object
      properties:
        is_applicable: {}
        messages:
          type: array
          items:
            $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableCellMessage'
        value: {}
  requestBodies:
    api_summary_table_handlers.SummaryTableSchemaRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/api_summary_table_handlers.SummaryTableSchemaRequest'
      description: You have to send raw json in schema field
      required: true
    conxai_com_docs-api_structures_api.SummaryTableFilterRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/conxai_com_docs-api_structures_api.SummaryTableFilterRequest'
      description: Filters data
      required: true
  securitySchemes:
    ApiKeyAuth:
      description: Provide the given API key
      type: apiKey
      name: X-Api-Key
      in: header
    BearerAuth:
      description: Provide the JWT token in the Authorization header prefixed with "Bearer"
      type: apiKey
      name: Authorization
      in: header
