openapi: 3.2.0
info:
  description: This is the Conxai Docnostic API of conxai.
  title: Conxai Docnostic Schema API
  termsOfService: http://swagger.io/terms/
  contact:
    name: API Support
    url: http://www.swagger.io/support
    email: support@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '1.0'
servers:
- url: //docs.ui.conxai.ai
tags:
- name: Schema
paths:
  /projects/{projectId}/use-cases/{useCaseId}/schemas/{schema}/version/{version}:
    get:
      security:
      - BearerAuth: []
      description: Get Schema by version
      tags:
      - Schema
      summary: Get Schema
      parameters:
      - description: Project UUID
        name: projectId
        in: path
        required: true
        schema:
          type: string
      - description: Use Case Id
        name: useCaseId
        in: path
        required: true
        schema:
          type: string
      - description: Schema UUID
        name: schema
        in: path
        required: true
        schema:
          type: string
      - description: Schema version
        name: version
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: {}
        '404':
          description: Not found
          content:
            application/json:
              schema: {}
        '500':
          description: felt bad
          content:
            application/json:
              schema:
                type: string
      operationId: getProjectsByProjectIdUseCasesByUseCaseIdSchemasBySchemaVersionByVersion
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKeyAuth:
      description: Provide the given API key
      type: apiKey
      name: X-Api-Key
      in: header
    BearerAuth:
      description: Provide the JWT token in the Authorization header prefixed with "Bearer"
      type: apiKey
      name: Authorization
      in: header
